.input {
    font-size: 30px;
    text-align: center;
    width: 140px;
    height: 30px;
    color: rgba(42, 99, 143, 1);
    border: 3px solid rgba(42, 99, 143, 1);
    border-radius: 15px;
    transition: 0.2s;
    outline:none;
}

.error {
    outline:none;
    font-size: 30px;
    text-align: center;
    width: 140px;
    height: 30px;
    border: 3px solid rgb(238, 0, 0);
    border-radius: 15px;
    color: rgb(238, 0, 0);
    transition: 0.2s;
}