.classicText{
    color: white;
    font-size: 120px;
    text-align: center;
}
.redText{
    color: red;
    font-size: 120px;
    text-align: center;
    transition: 0.5s;
}
.setText{
    color: white;
    font-size: 22px;
    text-align: center;
    padding-top: 74px;
}
.errorText{
    color: red;
    font-size: 34px;
    text-align: center;
    padding-top: 68px;
}