.classicText {
    color: white;
    font-size: 120px;
    text-shadow: 1px 2px 5px black;
}

.redText {
    color: red;
    font-size: 120px;
    transition: 0.5s;
    text-shadow: 1px 2px 5px black;
}